<section class="banner-block {% if class %}{{class}}{% endif %}">
	<div class="wrapper">
		{% if title %}<h2>{{title}}</h2>{% endif %}
		<div class="grid--auto-c grid-gap">
			{% for item in banners %}
				<div>
				<a href="{{item.link}}" class="lazyload" data-bg="{{item.bild|resize(660)}} ">
					<div class="wrapper--banner">
						<h3>{{item.text}}</h3>
					</div>
					<div class="overlay"></div>
				</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
