<div class="testimonials-standard-block"> 
	<div class="wrapper">
		{% if headline %}
			<h2>{{headline}}</h2>
		{% endif %}
		{% if description %}
			<div class="desc">
				{{description}}
			</div>
		{% endif %}
		<div class="grid--auto-c layout">
			{% for item in testimonials %}
				<div>
					<div class="tcard">
						<div class="person-info">
							<img src="{{item.image|resize(64,64)}}" alt="{{item.name}}">
							<div class="name">
								{{item.name}}
								{% if item.description %}
									<span>
										{{item.description}}
									</span>
								{% endif %}
							</div>
						</div>
						<div class="testimonial">
							{{item.testimonial}}
						</div>
					</div>
				</div>
			{% endfor %}	
		</div>
	</div>
</div>
